/* index.css */

@font-face {
  font-family: 'NeueHaas';
  src: url('../../../assets/fonts/NeueHaasGrotText-75Bold-Trial.otf') format('opentype');
}

@font-face {
  font-family: 'Mailsans';
  src: url('../../../assets/fonts/PSTMailSansTrial-Light.otf') format('opentype');
}

@font-face {
  font-family: "helvetica";
  src: url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
}


@font-face {
  font-family: 'PPSupply-bold';
  src: url('../../../assets/fonts/PPSupplyMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'PPSupply';
  src: url('../../../assets/fonts/PPSupplyMono-Ultralight.otf') format('opentype');
}

body {
  background-color: #d8d4d2;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}
  
  .topContainer { 
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  width: 100%;
  padding-left: 5%;
  }

  .middleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    margin-top: 5%;
    overflow: hidden;
    justify-content: center;
    height: 2000px;
  
  }

  .bottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding-bottom: 5%;
    height: 100%;

  }

  .timeInfo {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-family: 'PPSupply';

  }
  
  .description {
    margin-top: 1%;
    height: 65%;
    position: relative;
    width: 20%;
  }
  

  body.light-mode #globe {
    filter: invert(0%);
  }

  body.dark-mode #globe {
    filter: invert(100%);
  }

  body.dark-mode .barcode {
    filter: invert(100%);
  }

  body.dark-mode .barcode-text {
    filter: invert(100%);
  }

    .year {
    margin-bottom: -2.5em;
    font-size: 1.3em;
    font-family: 'PPSupply';
    margin-right: 35%;
  }

   .description p{
    font-family: 'PPSupply-bold';
    text-indent: 5em;
    width: 100%;
    font-size: 1em;
  }

  #first {
    font-family: 'NeueHaas';
    margin-left: 0%;
    font-size: 60px;
    margin-bottom: -50px;
  }

  #last {
    font-family: 'NeueHaas';
    margin-left: 1.4em;
    font-size: 60px;
    margin-bottom: -5px;
  
  }
  
  .title-points li {
    font-family: 'PPSupply';
    margin-bottom: 0%;
    font-size: 15px;

  }

  .nameInfo img {
    position: absolute;
    top: 95px;
    width: 80px;
    height: 80px;

  }


  .currentLocation h4 {
    margin-bottom: 6px;
  }

  .socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .socials p{
   margin: 5px;
   color: black;
   padding-right: 5%;
  } 

  .barcode img {
    width: 220px;
    height: 220px;
    
  }

  .socialSection {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
  }

  .barcode {

    display: flex;
  
  }

  
  .nameInfo {
    text-align: left;
    position: relative;
    font-family: 'Neue-Haas';
  
  }

  .nameInfo ul{
      font-family: 'PPSupply';
      list-style-type: none;
    
  }

  .description {
    position: relative;
    padding: 18px;

}

.description::before,
.description::after {
    content: '';
    position: absolute;
    border-color: black; 
    border-style: solid;
}

.description::before {
    top: 0;
    left: 0;
    width: 20px; 
    height: 20px; 
    border-width: 2px 0 0 2px; 
}

.description::after {
    bottom: 0;
    right: 0;
    width: 20px; 
    height: 20px; 
    border-width: 0 2px 2px 0; 
}

.barcode-text {
  position: absolute;
  right: 35px;
  bottom: 45px;
}

.barcode {
  position: relative;

}


  @media screen and (max-width: 768px) {
    .topContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 10px; 
    }
  
    .timeInfo, .currentLocation {
      display: flex;
      flex-direction: row;
      justify-content: center;

    }

    .time {
      width: 100%;
    }
  
    .currentLocation {
      align-items: top; /* Align text to the end for currentLocation */
      margin-left: 20%;
    }

    .currentLocation h4 {
      margin-top: 0; /* Remove any default margin */
      margin-bottom: 0; /* Adjust as necessary to align with timeInfo */
    }
  

    .bottomContainer {
      height: 100%;
      margin-bottom: 20%;
    }

    .canvasContainer {
      width: 100%;
      height: 20vh;
      left: 0%;
      top: 50%;
      display: flex;
      position: absolute;
    }

      
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    margin-left: 7%;
    margin-top: 8%;
    margin-bottom: 9em;
    width: 60%;
    position: relative;
  }

  .description p{
    font-family: 'PPSupply-bold';
    color: black;
    text-indent: 5em;
    width: 90%;
    text-align: left;
    font-size: 0.7em;
  }

  .barcode img {
    width: 100px;
    height: 100px;
    display: none;
    
  }

  .socialSection {
    display: flex;
    margin-top: 18%;
    flex-direction: row;
    column-gap: 5em;
    justify-content: right;
    align-items: center;
    width: 50%;
  }

  .socials p{
    margin: 10px;
    color: black;
    padding-right: 5%;
    font-size: 12px;
   } 

  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .topContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 10px; /* Add some padding on the sides */
    }
  
    .timeInfo, .currentLocation {
      display: flex;
      flex-direction: row;
      justify-content: center;

    }

    .time {
      width: 100%;
    }
  
    .currentLocation {
      align-items: top; /* Align text to the end for currentLocation */
      margin-left: 20%;
    }

    .currentLocation h4 {
      margin-top: 0; /* Remove any default margin */
      margin-bottom: 0; /* Adjust as necessary to align with timeInfo */
    }
  

    .bottomContainer {
      height: 100%;
      margin-bottom: 20%;
    }

    .canvasContainer {
      width: 100%;
      height: 20vh;
      left: 0%;
      top: 50%;
      display: flex;
      position: absolute;
    }

      
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    margin-left: 7%;
    margin-top: 8%;
    margin-bottom: 9em;
    width: 60%;
    position: relative;
  }

  .description p{
    font-family: 'PPSupply-bold';
    color: black;
    text-indent: 5em;
    width: 90%;
    text-align: left;
    font-size: 0.7em;
  }

  .barcode img {
    width: 100px;
    height: 100px;
    display: none;
    
  }

  .socialSection {
    display: flex;
    margin-top: 18%;
    flex-direction: row;
    column-gap: 5em;
    justify-content: right;
    align-items: center;
    width: 50%;
  }

  .socials p{
    margin: 10px;
    color: black;
    padding-right: 5%;
    font-size: 12px;
   } 
   
  }

  @media screen and (orientation: landscape) and (max-height: 500px) {

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100vh;
      margin-bottom: 10em;
      width: 100vw;
    }

    .topContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 10px; /* Add some padding on the sides */
    }
  
    .timeInfo, .currentLocation {
      display: flex;
      flex-direction: row;
      justify-content: center;

    }

    .time {
      width: 100%;
    }
  
    .currentLocation {
      align-items: top; /* Align text to the end for currentLocation */
      margin-left: 20%;
    }

    .currentLocation h4 {
      margin-top: 0; /* Remove any default margin */
      margin-bottom: 0; /* Adjust as necessary to align with timeInfo */
    }
  
   

    .bottomContainer {
      height: 100%;
      margin-bottom: 20%;
    }

    .canvasContainer {
      width: 50%;
      height: 30vh;
      left: 60%;
      top: 50%;
      display: flex;
      position: absolute;
    }

      
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    margin-left: 7%;
    margin-top: 8%;
    margin-bottom: 9em;
    width: 60%;
    position: relative;
  }

  .description p{
    font-family: 'PPSupply-bold';
    color: black;
    text-indent: 5em;
    width: 90%;
    text-align: left;
    font-size: 0.7em;
  }

  .barcode img {
    width: 100px;
    height: 100px;
    display: none;
    
  }

  .socialSection {
    display: flex;
    margin-top: 18%;
    flex-direction: row;
    column-gap: 5em;
    justify-content: right;
    align-items: center;
    width: 50%;
  }

  .socials p{
    margin: 10px;
    color: black;
    padding-right: 5%;
    font-size: 12px;
   } 
  }






  
  
  
  
  